.search-bar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 1.5rem;
}

.search-icon {
  color: black;
  border: black solid 2px;
  background-color: var(--clr-main);
  font-size: 3rem;
  border-radius: 50%;
  padding: 5px;
  transform: translateX(1.5rem);
}

.search-area {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0.42rem 0.7rem;
  padding-left: 2rem;
  color: var(--clr-grey-9);
  background-color: black;
  /* min-width: 25rem; */
  border: none;
  outline: none;
}

@media screen and (min-width: 800px) {
  .search-area {
    min-width: 25rem;
  }
}

.search-area::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--clr-grey-7);
  color: #888;
  opacity: 1; /* Firefox */
}

.search-area:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--clr-grey-7);
}

.search-area::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--clr-grey-7);
}

@media screen and (min-width: 800px) {
  .search-bar {
    min-width: 20rem;
  }
}
