.sell-bg {
  background-color: black;
  padding: 4rem 0;
  padding-bottom: 5rem;
  display: grid;
  justify-items: center;
  gap: 2rem;
  color: var(--clr-main);
}

.sell-header {
  display: grid;
  justify-items: center;
}
.sell-header h4 {
  color: var(--clr-grey-10);
}

form {
  display: grid;
  gap: 2rem;
  border-radius: 35px;
  padding: 2rem;
  margin: 0 auto;
  background-color: var(--clr-grey-1);
  align-items: center;
  justify-items: center;
  box-shadow: var(--light-shadow-white);
  transition: all 0.35s ease-out;
}

.form-control {
  width: 100%;
  display: grid;
  grid-template-columns: 0.3fr auto;
  gap: 1rem;
}
form:hover {
  box-shadow: var(--dark-shadow-white);
}

@media screen and (min-width: 700px) {
  .form {
    width: 70%;
  }
}

.curve {
  border-radius: 15px;
  padding: 0.4rem 1rem;
  background-color: black;
  color: var(--clr-grey-10);
  border: none;
  outline: none;
}

.desc {
  align-self: flex-start;
}

.input-text {
  text-transform: capitalize;
  letter-spacing: 1.5px;
  font-weight: 600;
}
